/* SECCION 1 */
.tamano1 {
background-image:url("../img/element_2.png");
}

.margen1 {
  margin-top: 36px;
}

.margen2 {
  margin-top: 55px;
}

.margen3 {
  margin-right: -15px;
}

.texto1{
  font-size: 50px;
  font-family: open sans;
  font-weight: lighter;
  letter-spacing: -3px;
  color: #fffdff;
  margin-top: 86px;
line-height: 62px;
}

.boton1 {
  border-radius: 10px;
  background-color: transparent;
  border:1px solid white;
  color: white;
  
  height: 70px;
font-size: 44px;
  font-family: open sans;
  font-weight: lighter;
  letter-spacing: -3px;
  padding-bottom: 10px;
  margin-top: 35px;
}
.boton1 p {
  color: white;
font-size: 44px;
  font-family: open sans;
  font-weight: lighter;
  letter-spacing: -3px;
}

.margen4 {
  padding-left: 25px;
  margin-top: 30px;
}
/* SECCION 2 */

/* SECCION 3 - 4 - 5 */

/* SECCION 6 */

/* SECCION 7 */

/* SECCION 8 */

/* SECCION 9 */

/* PLANTILLA TUTORIAL */